//-
   Created by felix on 17.02.17.

mixin add-user-share-modal()
    script(type="text/x-template")#add-user-share-modal
        #add-user-share(uk-modal)
            .uk-modal-dialog
                .uk-modal-header
                    h3.uk-h3 Share {{ name }} with {{ user }}

                .uk-modal-body
                    fieldset.uk-fieldset
                        .uk-form-controls
                            label.uk-text-lead File/Folder permissions:

                        .uk-form-controls.uk-form-controls-text.uk-margin-small-bottom.uk-margin-small-top
                            label.uk-grid
                                div
                                    input.uk-radio(type="radio", name="permissions", v-model="permissions", v-bind:value="'r'", style="margin-top:5px")
                                div
                                    span.uk-h5 Read only
                                    br
                                    span.uk-text-small Users can view and download contents

                            label.uk-grid.uk-margin-small-top
                                div
                                    input.uk-radio(type="radio", name="permissions", v-model="permissions", v-bind:value="'r+w'", style="margin-top:5px")
                                div
                                    span.uk-h5 Read & Write
                                    br
                                    span.uk-text-small Users can view, download, edit and upload contents.

                            label.uk-grid.uk-margin-small-top
                                div
                                    input.uk-radio(type="radio", name="permissions", v-model="permissions", v-bind:value="'upload'", style="margin-top:5px")
                                div
                                    span.uk-h5 Upload only (filedrop)
                                    br
                                    span.uk-text-small Receive files from others without revealing the contents of the folder.

                        hr.uk-hr

                        .uk-form-controls
                            label.uk-text-lead Share permissions:

                        .uk-form-controls.uk-form-controls-text.uk-margin-small-bottom.uk-margin-small-top
                            label.uk-grid
                                div
                                    input.uk-checkbox(type="checkbox", name="shareWithOthers", v-model="shareWithOthers", style="margin-top:5px")
                                div
                                    span.uk-h5 Share with users / groups
                                    br
                                    span.uk-text-small Allow users to share this folder with users inside ownCloud

                            label.uk-grid.uk-margin-small-top
                                div
                                    input.uk-checkbox(type="checkbox", name="shareWithPublic", v-model="shareWithPublic", style="margin-top:5px")
                                div
                                    span.uk-h5 Share with public
                                    br
                                    span.uk-text-small Allow sharing with others using a public link or a federated share

                        hr.uk-hr

                        .uk-form-controls.uk-form-controls-text.uk-margin-large-bottom.uk-margin-small-top
                            label.uk-grid.uk-margin-small-top
                                div
                                    input.uk-checkbox(type="checkbox", name="sendNotification", v-model="sendNotification", style="margin-top:5px")
                                div
                                    span.uk-h5 Send notification
                                    br
                                    span.uk-text-small The recipient will be notified about this share via email

                        hr.uk-hr

                        .uk-form-controls
                            label.uk-text-lead Set expiration date:

                        .uk-form-controls.uk-form-controls-text.uk-margin-large-bottom.uk-margin-small-top
                            .uk-inline
                                a.uk-form-icon(href="#", uk-icon="icon: calendar")
                                input.uk-input(type="date", v-model="expirationDate")

                            p.uk-text-small
                                span(v-if="expirationDate") This share will expire on {{ expirationDate }}

                        button.uk-button.uk-button-small.uk-button-default.uk-modal-close
                            | Cancel

                        button(@click="addShare").uk-button.uk-button-small.uk-button-primary.uk-align-right.uk-modal-close.uk-margin-remove-bottom
                            | Save