$namespace: '.share';

// Sidebard exceprt

#{$namespace} {
    max-width: 400px;
    margin: $grid-gutter auto;
}

.oc-changes {
    &:before,
    &:after {
        font-weight: 400;
    }
}

.oc-changes:first-of-type:before {
    content: " ";
}

.oc-changes:not(:nth-last-of-type(-n+2)):after {
    content: ", ";
}

.oc-changes + .oc-changes:last-of-type:before {
    content: " and ";
}