mixin share()
    #share.share
        .uk-grid-small.uk-flex-middle(uk-grid)
            .uk-width-auto
                span(uk-icon="icon: folder; ratio: 2")

            .uk-width-expand
                h3.uk-card-title.uk-margin-remove-bottom My little folder
                p.uk-margin-remove-top
                    span.uk-text-meta Size:&nbsp;
                    span.uk-text-small 132 MB
                    span.uk-text-meta , &nbsp;created:&nbsp;
                    span.uk-text-small 10 days ago

        ul.uk-tab.uk-child-width-expand
            for i in ["Activities", "Comments", "Sharing"]
                li.share--tab
                    a(href="#") #{i}

        .uk-grid(js-entrypoint)
            div.uk-width-expand
                button.uk-button.uk-button-primary.uk-button-small.uk-align-right.uk-margin(v-on:click="addLink", :disabled="!sidebar.buttonAddLink") Add public link

        publink(v-for="share in shares", :publink="share")

    template#publink
        .uk-card.uk-card-default.uk-card-small.uk-margin.uk-animation-slide-left-medium
            .uk-card-header
                .uk-grid-small.uk-flex-middle(uk-grid)
                    .uk-width-auto
                        span.uk-icon-button(uk-icon="icon: link")

                    .uk-width-expand
                        h3.uk-card-title.uk-margin-remove-bottom {{ link.hash }}
                        p.uk-text-meta.uk-margin-remove-top {{ linkUrl }}
                    .uk-width-auto
                        button(v-if="!link.expanded", v-on:click="edit").uk-button.uk-button-small.uk-button-default Edit

            .uk-card-body(v-if="link.expanded")
                form
                    fieldset.uk-fieldset
                        .uk-form-controls
                            label
                                input.uk-checkbox(type="checkbox", v-model="link.allowUploads", @click="changes")
                                | &nbsp;&nbsp;Allow uploads

                        .uk-margin
                            label.uk-form-label(for="password")
                                | Password

                            .uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: lock")
                                input.uk-input(v-model="link.password", @keydown.enter="save", @change="changes", @keyup="changes", type="password", placeholder="(optional)")

                        .uk-margin
                            label.uk-form-label(for="expiration")
                                | Expiration date
                                em *

                            .uk-inline.uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: calendar")
                                input.uk-input(v-model="link.expires", type="date", placeholder="dd.mm.yyyy", @keydown.enter="save", @change="changes", @keyup="changes", required)

                    .uk-grid
                        div.uk-width-expand
                            button(v-on:click="trash").uk-button.uk-button-small.uk-button-default Delete

                        div.uk-width-expand.uk-text-right
                            button(v-on:click="close").uk-button.uk-button-small.uk-button-default.uk-margin-small-right Close
                            button(v-on:click="save", :disabled="!link.buttonSave").uk-button.uk-button-small.uk-button-primary Save

            .uk-card-footer(v-if="link.expanded")
                p
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: facebook", href="#")
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: twitter", href="#")
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: mail", href="#", @click="mailto")

                .uk-grid
                    p.uk-text-meta
                        span(v-for="event in link.history") &bull; {{ event }}<br>