mixin share()
    #share.share
        .uk-grid-small.uk-flex-middle(uk-grid)
            .uk-width-auto
                span(uk-icon="icon: folder; ratio: 2")

            .uk-width-expand
                h3.uk-card-title.uk-margin-remove-bottom My little Pony
                p.uk-margin-remove-top
                    span.uk-text-meta Size:&nbsp;
                    span.uk-text-small 132 MB
                    span.uk-text-meta , &nbsp;created:&nbsp;
                    span.uk-text-small 10 days ago

        ul.uk-tab.uk-child-width-expand
            for i in ["Activities", "Comments", "Sharing"]
                li.share--tab
                    a(href="#") #{i}

        .uk-grid(js-entrypoint)
            div.uk-width-expand
                button.uk-button.uk-button-primary.uk-button-small.uk-align-right.uk-margin(v-on:click="addLink") Add public link

        .uk-flex.uk-flex-column-reverse.uk-margin
            publink(v-for="share in shares", :link="share")

    template#publink
        .uk-card.uk-card-default.uk-card-small.uk-animation-slide-left-medium.uk-margin-small-bottom
            .uk-card-header
                .uk-grid-small.uk-flex-middle(uk-grid)
                    .uk-width-auto
                        span.uk-icon-button(uk-icon="icon: link")

                    .uk-width-expand(title="Copy link to clipboard", uk-tooltip, style="cursor:pointer")
                        h3.uk-card-title.uk-margin-remove-bottom {{ link.hash }}
                        p.uk-text-meta.uk-margin-remove-top {{ linkUrl }}
                    .uk-width-auto
                        a(v-show="!link.expanded", v-on:click="expand", uk-icon="icon: chevron-left")
                        a(v-show="link.expanded", v-on:click="collapse", uk-icon="icon: chevron-down")

            .uk-card-body(v-if="link.expanded")
                form
                    fieldset.uk-fieldset
                        .uk-form-controls
                            label
                                input.uk-checkbox(type="checkbox", v-model="link.data.rw", @change="notify('Write permissions changed')")
                                | &nbsp;&nbsp;Allow uploads

                        .uk-margin
                            label.uk-form-label(for="password")
                                | Password

                            .uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: lock")
                                input.uk-input(v-model.lazy="link.data.password", @change="notify('Password changes')", type="password", placeholder="(optional)")

                        .uk-margin
                            label.uk-form-label(for="expiration")
                                | Expiration date
                                em *

                            .uk-inline.uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: calendar")
                                input.uk-input(v-model.lazy="link.data.expires", type="date", placeholder="dd.mm.yyyy", @change="notify('Expiration date changed')", required)

                    .uk-grid
                        div.uk-width-expand
                            button(uk-toggle="target: #trash").uk-button.uk-button-small.uk-button-default Delete
                        div.uk-width-expand
                            button(v-if="modified", @click="undo").uk-button.uk-align-right.uk-button-small.uk-button-secondary Undo

            .uk-card-footer(v-if="link.expanded")
                p
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: facebook", href="#")
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: twitter", href="#")
                    a.uk-icon-link.uk-margin-small-right(uk-icon="icon: mail", href="#", uk-toggle="target: #send-mail", @click="mailedTo=null")

                .uk-grid
                    p.uk-text-meta
                        span(v-for="event in link.history") &bull; {{ event }}<br>

            #send-mail(uk-modal)
                .uk-modal-dialog
                    .uk-modal-header
                        h3.uk-h3 Send Public link via mail

                    .uk-modal-body
                        .uk-margin
                            label.uk-form-label(for="email")
                                | Send to
                                em *

                            .uk-inline.uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: mail")
                                input.uk-input(type="mail", v-model.lazy="mailedTo", placeholder="max@mustermann.de", required)
                        .uk-margin
                            label.uk-form-label(for="mailtext") Message
                            textarea.uk-textarea(rows="5" placeholder="(optional)")
                        p.uk-text-meta
                            i The email will contain the link, password and expiration-date (if set)
                        button.uk-button.uk-button-small.uk-button-default.uk-modal-close Cancel
                        button(@click="addHistory('Send to ' + mailedTo)").uk-button.uk-button-small.uk-button-primary.uk-align-right.uk-modal-close Send

            #trash(uk-modal)
                .uk-modal-dialog
                    .uk-modal-header
                        h3.uk-h3 Delete public link

                    .uk-modal-body
                        p Are you certain you want to delete?&nbsp;This <u>can not be undone</u>!

                        button.uk-button.uk-button-small.uk-button-default.uk-modal-close Cancel
                        button(@click="trash").uk-button.uk-button-small.uk-button-danger.uk-align-right.uk-modal-close Delete