mixin share()
    #share.share
        .uk-grid-small.uk-flex-middle(uk-grid)
            .uk-width-auto
                span(uk-icon="icon: folder; ratio: 2")

            .uk-width-expand
                h3.uk-card-title.uk-margin-remove-bottom {{ file.name }}
                p.uk-margin-remove-top
                    span.uk-text-meta Size:&nbsp;
                    span.uk-text-small {{ file.size }} MB
                    span.uk-text-meta , &nbsp;created:&nbsp;
                    span.uk-text-small {{ file.cdate }}

        ul(uk-tab).uk-child-width-expand
            li
                a(href="#") Activities
            li
                a(href="#") Comments
            li.uk-active
                a(href="#") Sharing

        ul(uk-switcher).uk-subnav.uk-subnav-pill
            li
                a User / Group Share
            li
                a Public link

        ul.uk-switcher.uk-margin
            li
                .uk-margin
                    label.uk-form-label(for="share-with-users")
                        | Share with users and groups

                    .uk-grid-small(uk-grid)
                        .uk-width-expand
                            .uk-inline.uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: users")
                                input.uk-input(v-model="newUser", @keyup.enter="startUserShare" type="text", placeholder="User- or Groupname")

                        .uk-width-auto
                            button.uk-button.uk-button-primary(:disabled="!newUser", @click="startUserShare") Share

            li
                .uk-margin
                    label.uk-form-label(for="share-with-public")
                        | Create public Link

                    .uk-grid-small(uk-grid)
                        .uk-width-expand
                            .uk-inline.uk-inline.uk-width-1-1
                                span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: link")
                                input.uk-input(v-model="newLinkTitle", type="text", placeholder="Title (optional)")

                        .uk-width-auto
                            button.uk-button.uk-button-primary(uk-toggle="target: #add-public-link") Create

        .uk-flex.uk-flex-column.uk-margin-medium-top
            publiclink(v-for="share in shares", :link="share")
            user-share(v-for="user in users", :user="user")

        .uk-margin
            add-public-link(:title="newLinkTitle")
            add-user-share(:user="newUser", :name="file.name")