extends /templates/default

block title
    | Share - Clickdummy

block main
    main#app
        +share()
        +public-link()
        +user-share()
        +add-user-share-modal()
        +add-public-link-modal()
        +edit-public-link-modal()