html, body { padding: 12px; font-family: Roboto, sans-serif; font-size: 14px; }

#settings { max-width: 400px; }

.share { max-width: 400px; margin: 12px auto; }

.uk-card:not(:hover) .uk-card-body { display: none; }
